@import './node_modules/blaze/scss/generics.global.scss';
@import './node_modules/blaze/scss/components.headings.scss';
@import './node_modules/blaze/scss/components.cards.scss';


$mainCol: #faad39;
$backCol: #2f2f2f;
$fontCol: #91959e;

$table-background: darken($backCol, 10%);
$table-head-background: darken($backCol, 20%);
$table-head-font-color: $fontCol;
@import './node_modules/foundation-sites/scss/_global.scss';
@import './node_modules/foundation-sites/scss/util/_util.scss';
@import './node_modules/foundation-sites/scss/components/_table.scss';
@include foundation-table;

body {
  padding: 20px;
  background-color: $backCol;
  color: $fontCol;
}

#content {
  .row {
    display: flex;
    justify-content: center;

    .row-content {
      max-width: 984px;
      flex-grow: 1;
      display: flex;

      >* {
        flex: 1
      }
    }
  }

  .col {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }


  p.desc {
    margin: 0;
    padding: 3px;
  }
  p.desc.small {
    font-size: 12px;
    line-height: 16px;
  }
  h1, h2, h3 {
    padding: 0;
    margin: 0;
  }

  #time-nav {
    margin-bottom: 40px;
    align-items: center;

    #time-btns {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;

      >* {
        cursor: pointer;
        margin-left: 20px;
      }
      >.active {
        cursor: default;
        color: $mainCol;
      }
    }
  }

  .center-vert {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  #succ-req {
    .gauge {
      margin-bottom: 3px;
    }
  }

  #errors-table-row {
    .c-card__item-padding {
      padding: .5em 0;
    }
    table {
      min-width: 100%;
      tr {
        td, th {
          padding: 0 15px;
        }
        td {
          position:relative;
        }
      }
    }
  }
}

.gauge {
  position: relative;
  text-align: center;
  width: 110px;
  height: 110px;
  border-radius: 100%;

  background-color:$mainCol;
  background-image:
      linear-gradient(91deg, transparent 50%, $fontCol 50%),
      linear-gradient(90deg, $fontCol 50%, transparent 50%);

  .prec{
    top: 30px;
    position: relative;
    font-size: 30px;
  }
  .circle{
    position: relative;
    top: 5px;
    left: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: $backCol;
  }
}

.center-text {
  text-align: center;
}

.center-table {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background-color: lighten($backCol, 2%);
  box-shadow: 1px 1px 3px rgba(darken($backCol, 20%), 0.6);
  margin: 5px;
  padding: 10px;
}

@media (max-width: 1024px) {
  #content {
    .row {
      .row-content.sm-block {
        display: block;
      }
    }

    #time-nav {
      >div:first-child {
        text-align: center;
        margin-bottom: 20px;
      }
      #time-btns {
        justify-content: center;
      }
    }
  }
}
