@import './node_modules/blaze/scss/generics.global.scss';
@import './node_modules/blaze/scss/components.headings.scss';
@import './node_modules/blaze/scss/components.cards.scss';


$mainCol: #7ab648;
$backCol: #fff;
$fontCol: #333;
$gaugeCol: #ddd;

body {
  padding: 20px;
  background-color: $backCol;
  color: $fontCol;
}

#content {
  .row {
    display: flex;
    justify-content: center;

    .row-content {
      max-width: 984px;
      flex-grow: 1;
      display: flex;

      >* {
        flex: 1
      }
    }
  }

  .col {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }


  p.desc {
    margin: 0;
    padding: 3px;
  }
  p.desc.small {
    font-size: 12px;
    line-height: 16px;
  }
  h1, h2, h3 {
    padding: 0;
    margin: 0;
  }

  #main-chart svg {
    width: 100%;
    height: 400px;
    background-color: darken($backCol, 5%);
  }

  #time-nav {
    margin-bottom: 40px;
    align-items: center;

    #time-btns {
      display: flex;
      justify-content: flex-end;

      >* {
        cursor: pointer;
        margin-left: 20px;
      }
      >*:first-child {
        margin-left: 0;
      }
      >.active {
        cursor: default;
        color: $mainCol;
      }
    }
  }

  .center-vert {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  #succ-req {
    .gauge {
      margin-bottom: 3px;
    }
  }

  #uptime {
    >div {
      width: 300px;
    }
  }

  #motd {
    display: flex;
    align-items: center;
  }

  #app-table {
    flex-direction: column;
    .app-row {
      >div {
        flex-flow: row wrap;
        >div {
          min-width: 70px;
          flex-grow: 1;
          max-height: 100%;
          &:last-child {
            flex-grow: 6;
            min-width: 300px;
          }
          svg {
            overflow: visible;
          }
        }
      }
    }
  }
}

.gauge {
  position: relative;
  text-align: center;
  width: 110px;
  height: 110px;
  border-radius: 100%;

  background-color:$mainCol;
  background-image:
      linear-gradient(91deg, transparent 50%, $gaugeCol 50%),
      linear-gradient(90deg, $gaugeCol 50%, transparent 50%);

  .prec{
    top: 30px;
    position: relative;
    font-size: 30px;
  }
  .circle{
    position: relative;
    top: 5px;
    left: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: $backCol;
  }
}

.center-text {
  text-align: center;
}

.center-table {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background-color: lighten($backCol, 2%);
  box-shadow: 1px 1px 5px rgba(darken($backCol, 60%), 0.8);
  margin: 5px;
  padding: 10px;
}

.led {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: #000 0 -1px 6px 1px;
}
.led-red {
    background-color: #F00;
    box-shadow: #7D7B80 0 -1px 6px 1px, inset #600 0 -1px 8px, #F00 0 3px 11px;
}
.led-orange {
    background-color: #FF7000;
    box-shadow: #7D7B80 0 -1px 6px 1px, inset #630 0 -1px 8px, #FF7000 0 3px 11px;
}
.led-green {
    background-color: #80FF00;
    box-shadow: #7D7B80 0 -1px 6px 1px, inset #460 0 -1px 8px, #80FF00 0 3px 11px;
}

.flex-grow {
  flex-grow: 1 !important;
}
.flex-nogrow {
  flex-grow: 0 !important;
}

.align-children {
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  #content {
    .row {
      .row-content.sm-block {
        display: block;
      }
    }

    #time-nav {
      >div:first-child {
        text-align: center;
        margin-bottom: 20px;
      }
      #time-btns {
        justify-content: center;
      }
    }

    #app-table {
      >div {
        >div {
          min-width: 70px;
        }
      }
    }
  }
}
